/* 
    Created on : Feb 16, 2016, 7:11:40 PM
    Author     : David landi
*/

#host_game{}
.host_game_content{}
#lobby{}
.lobby_content{}
.pnl_loggedin_size{}
.pnl_chat_size{}
.chatcontainer{max-width: 1500px;}
.stat_box{margin-top: 75px; margin-bottom: 25px; width: 100%; min-height: 100px; border:1px solid #000;}
#chat-area{ max-height: 550px; overflow: auto;}
.sheild{max-height: 90px;}


/*At > 13 inches*/
@media(min-width:768px){
    #host_game{}
    .host_game_content{}
    #lobby{}
    .lobby_content{}
    .stat_box{}
    .pnl_loggedin_size{min-height: 600px;}
    .pnl_chat_size{min-height: 600px;}
    .join_game_content{margin-top: 200px;}
}